---
import { Picture } from '@astrojs/image/components';
import Tags from '../atoms/Tags.astro';

import { getPermalink } from '~/utils/permalinks';
import { findImage } from '~/utils/images';

const { project } = Astro.props;

const image = await findImage(project.image);
---

<article class={`max-w-[520px] px-0 mb-20 mx-auto md:max-w-none grid gap-4 md:gap-8 ${image ? 'md:grid-cols-3' : ''}`}> {
		image && (
			<a class="w-fit block mx-auto" href={getPermalink(project.slug, 'project')}>
				<div class="relative md:h-60 rounded">
					  <Picture sizes="(min-width: 768px) 240px, 520px" widths={[240, 520]} src={image} class="md:object-cover w-full md:w-auto md:h-full rounded" aspectRatio={16/9}  alt={project.title} />
				</div>
			</a>
		)
	}
	<div class="md:col-span-2 my-auto">
		<header>
      <p class="text-sm text-gray-800 dark:text-gray-500 my-2 italic font-bold">{project.publishDate}</p>
			<h2 class="font-bold text-left text-2xl mb-2 hover:text-orange-600 transition duration-150">
				<a class="" href={getPermalink(project.slug, 'project')}> {project.title}</a>
			</h2>
		</header>
		<p class="text-base text-justify mb-4 opacity-90">
			{project.excerpt || project.description}
		</p>
    <Tags tags={project.tags} />
	</div>
</article>
