---
import { getResumePermalink } from '~/utils/permalinks';
import TechLink from '../atoms/TechLink.astro';

const data = [
	{
		name: 'Nodejs',
		to: 'https://nodejs.org/en/',
	},
	{
		name: 'Golang',
		to: 'https://go.dev/',
	},
	{
		name: 'SQL',
		to: 'https://www.mysql.com/',
	},
	{
		name: 'MongoDB',
		to: 'https://www.mongodb.com/',
	},
	{
		name: 'Nextjs',
		to: 'https://nextjs.org/',
	},
];
---

<h3 class="text-black dark:text-white text-xl font-bold mb-1 border-gray-500 border-solid border-b-4 block w-fit">
	Resume
</h3>
<p class="text-justify dark:text-white text-base pt-2 indent-3">
	I am a <span class="text-orange-500">Software Developer</span> with more than 2 years of experience building and maintaining
	complex systems, using agile methodologies (SCRUM), also different technologies and tools such as
	{
		data.map(({ name, to }, i) => {
			if (i === 0) {
				return <TechLink to={to}>{name}</TechLink>;
			}
			return (
				<>
					, <TechLink to={to}>{name}</TechLink>
				</>
			);
		})
	}
	among others, writing modern, high-performance and robust code.
</p>
<a
	class="py-2 px-5 mb-8 text-base border border-gray-800 dark:border-gray-400 font-semibold hover:text-orange-500 dark:hover:text-orange-500 duration-100 mx-auto dark:text-white mt-6 block h-fit w-fit rounded-md"
	target="_blank"
	href={getResumePermalink()}>My Resume</a
>
